# Bicycle data 2018 in Berlin

## Preparing data

In [73]:

from pathlib import Path
import os

data_dir = str(Path.home()) + r'\tubCloud2\Master\Radverkehr_Berlin'

In [74]:
import pandas as pd

counts = pd.read_csv(os.path.join(data_dir, r'Bicycle_volume2018.csv'), delimiter=';', index_col=0, parse_dates=True)

In [75]:
counts.head()

,02-MI-JAN-N 01.04.2015,02-MI-JAN-S 01.04.2015,03-MI-SAN-O 01.06.2015,03-MI-SAN-W 01.06.2015,05-FK-OBB-O 01.06.2015,05-FK-OBB-W 01.06.2015,06-FK-FRA-O 01.06.2016,06-FK-FRA-W 01.06.2016,10-PA-BER-N 01.05.2016,10-PA-BER-S 01.05.2016,...,18-TS-YOR-O 01.04.2015,18-TS-YOR-W 01.04.2015,19-TS-MON 01.05.2015,20-TS-MAR-N 01.05.2016,20-TS-MAR-S 01.05.2016,21-NK-MAY 01.05.2016,23-TK-KAI 01.05.2016,24-MH-ALB 01.07.2015,26-LI-PUP 01.06.2015,27-RE-MAR 01.05.2015
Inbetriebnahme,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,12,9,15,1,11,18,3.0,6,18,2.0,...,7,7,7.0,1,0,9,3,0,11,0
2018-01-01 01:00:00,17,16,7,7,26,22,8.0,2,24,10.0,...,5,9,21.0,2,1,40,6,0,12,5
2018-01-01 02:00:00,25,18,5,12,39,20,11.0,12,23,26.0,...,21,16,34.0,1,0,46,1,1,20,7
2018-01-01 03:00:00,18,19,8,13,51,22,7.0,6,21,17.0,...,18,17,33.0,2,1,43,4,2,11,2
2018-01-01 04:00:00,15,12,6,3,27,29,6.0,4,11,7.0,...,8,9,17.0,4,0,29,7,0,6,3

In [76]:
counts.shape
#counts.columns[3]

(8760, 26)

In [77]:
# sum up the overall counts (on hourly basis) to daily counts -> 365 days
daily_counts = counts.resample('d').sum()
daily_counts.head()

,02-MI-JAN-N 01.04.2015,02-MI-JAN-S 01.04.2015,03-MI-SAN-O 01.06.2015,03-MI-SAN-W 01.06.2015,05-FK-OBB-O 01.06.2015,05-FK-OBB-W 01.06.2015,06-FK-FRA-O 01.06.2016,06-FK-FRA-W 01.06.2016,10-PA-BER-N 01.05.2016,10-PA-BER-S 01.05.2016,...,18-TS-YOR-O 01.04.2015,18-TS-YOR-W 01.04.2015,19-TS-MON 01.05.2015,20-TS-MAR-N 01.05.2016,20-TS-MAR-S 01.05.2016,21-NK-MAY 01.05.2016,23-TK-KAI 01.05.2016,24-MH-ALB 01.07.2015,26-LI-PUP 01.06.2015,27-RE-MAR 01.05.2015
Inbetriebnahme,,,,,,,,,,,,,,,,,,,,,
2018-01-01,560,516,309,344,900,819,282.0,266,1059,549.0,...,480,429,710.0,129,84,949,180,131,845,194
2018-01-02,1572,1626,713,774,1964,1824,822.0,683,2632,1201.0,...,996,961,1490.0,373,217,2328,482,123,1240,516
2018-01-03,1357,1366,627,677,1689,1548,664.0,568,2819,1185.0,...,860,791,1203.0,289,197,1895,530,188,1087,443
2018-01-04,2153,2147,972,1059,2571,2430,1012.0,810,3694,1728.0,...,1357,1238,1965.0,400,285,3015,690,264,1592,658
2018-01-05,2655,2775,1221,1300,3233,3171,1283.0,1085,3021,1986.0,...,1632,1548,2247.0,449,290,3766,733,410,2060,795

In [78]:
daily_counts.shape

(365, 26)

In [79]:
# Station names
station_names = ['JannowitzbrÃ¼cke', 'InvalidenstraÃŸe', 'OberbaumbrÃ¼cke', 'Frankfurter Allee', 'Berliner StraÃŸe',
                 'Schwedter Steg', 'PrinzregentenstraÃŸe', 'KlosterstraÃŸe', 'Breitenbachplatz', 'YorckstraÃŸe',
                 'MonumentenstraÃŸe', 'Mariendorfer Damm', 'Maybachufer', 'Kaisersteg', 'AlberichstraÃŸe',
                 'Paul-und-Paula-Uferweg', 'MarkstraÃŸe']
            
#start_numbers = [str(n) for n in list(range(2,27))]
start_numbers = ['02', '03', '05', '06', '10', '12', '13', '15', '17', '18', '19', '20', '21', '23', '24', '26', '27']

#counts.loc[:, counts.columns.str.startswith("02")]

In [80]:
# Function that returns columns that start with the same prefix
def return_same_columns(cols):
    return [val for col in cols for val in start_numbers if col.startswith(val)]

In [81]:
# sum up the counts for each counting station
daily_counts = daily_counts.groupby(return_same_columns(daily_counts.columns), axis=1).sum()

In [82]:
# rename columns
daily_counts.columns = station_names

In [83]:
daily_counts.head()

,JannowitzbrÃ¼cke,InvalidenstraÃŸe,OberbaumbrÃ¼cke,Frankfurter Allee,Berliner StraÃŸe,Schwedter Steg,PrinzregentenstraÃŸe,KlosterstraÃŸe,Breitenbachplatz,YorckstraÃŸe,MonumentenstraÃŸe,Mariendorfer Damm,Maybachufer,Kaisersteg,AlberichstraÃŸe,Paul-und-Paula-Uferweg,MarkstraÃŸe
Inbetriebnahme,,,,,,,,,,,,,,,,,
2018-01-01,1076.0,653.0,1719.0,548.0,1608.0,459.0,275.0,362.0,611.0,909.0,710.0,213.0,949.0,180.0,131.0,845.0,194.0
2018-01-02,3198.0,1487.0,3788.0,1505.0,3833.0,875.0,959.0,684.0,853.0,1957.0,1490.0,590.0,2328.0,482.0,123.0,1240.0,516.0
2018-01-03,2723.0,1304.0,3237.0,1232.0,4004.0,840.0,512.0,522.0,680.0,1651.0,1203.0,486.0,1895.0,530.0,188.0,1087.0,443.0
2018-01-04,4300.0,2031.0,5001.0,1822.0,5422.0,1284.0,856.0,813.0,1163.0,2595.0,1965.0,685.0,3015.0,690.0,264.0,1592.0,658.0
2018-01-05,5430.0,2521.0,6404.0,2368.0,5007.0,1459.0,1061.0,942.0,1448.0,3180.0,2247.0,739.0,3766.0,733.0,410.0,2060.0,795.0

In [84]:
# one-hot-encoding for days of the week
# assumption 1: number of bicycle rides may depend on day of the week
# store values 1 or 0 in columns if the day of the week is equal to this day or not
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
for i in range(7):
    daily_counts[days[i]] = (daily_counts.index.dayofweek == i).astype(float)

daily_counts.head(10)

,JannowitzbrÃ¼cke,InvalidenstraÃŸe,OberbaumbrÃ¼cke,Frankfurter Allee,Berliner StraÃŸe,Schwedter Steg,PrinzregentenstraÃŸe,KlosterstraÃŸe,Breitenbachplatz,YorckstraÃŸe,...,AlberichstraÃŸe,Paul-und-Paula-Uferweg,MarkstraÃŸe,Mon,Tue,Wed,Thu,Fri,Sat,Sun
Inbetriebnahme,,,,,,,,,,,,,,,,,,,,,
2018-01-01,1076.0,653.0,1719.0,548.0,1608.0,459.0,275.0,362.0,611.0,909.0,...,131.0,845.0,194.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-02,3198.0,1487.0,3788.0,1505.0,3833.0,875.0,959.0,684.0,853.0,1957.0,...,123.0,1240.0,516.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2018-01-03,2723.0,1304.0,3237.0,1232.0,4004.0,840.0,512.0,522.0,680.0,1651.0,...,188.0,1087.0,443.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2018-01-04,4300.0,2031.0,5001.0,1822.0,5422.0,1284.0,856.0,813.0,1163.0,2595.0,...,264.0,1592.0,658.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2018-01-05,5430.0,2521.0,6404.0,2368.0,5007.0,1459.0,1061.0,942.0,1448.0,3180.0,...,410.0,2060.0,795.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2018-01-06,3205.0,1299.0,4594.0,1874.0,3078.0,993.0,580.0,753.0,872.0,2458.0,...,207.0,1305.0,469.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2018-01-07,2103.0,1100.0,3545.0,1042.0,2085.0,823.0,350.0,422.0,654.0,1529.0,...,149.0,947.0,420.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2018-01-08,6293.0,2990.0,6581.0,2720.0,5385.0,1634.0,1132.0,890.0,1833.0,3461.0,...,341.0,2231.0,843.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-09,6262.0,3104.0,7050.0,2697.0,4477.0,1599.0,1149.0,900.0,1880.0,3415.0,...,352.0,2271.0,870.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2018-01-10,6482.0,3032.0,6908.0,2762.0,4706.0,1580.0,1098.0,981.0,1788.0,3513.0,...,411.0,2203.0,889.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [85]:
# use the Berlin holiday data
# assumption 2: bicycle trips might be different on holidays
from datetime import date
import holidays

berlin_holidays = holidays.CountryHoliday('DE', prov='BE')
date(2018, 1, 1) in berlin_holidays
print(berlin_holidays.years)

{2018}

In [86]:
for date, name in sorted(holidays.DE(prov='BE', years=2018).items()):
    print(date, name)

2018-01-01 Neujahr
2018-03-30 Karfreitag
2018-04-02 Ostermontag
2018-05-01 Erster Mai
2018-05-10 Christi Himmelfahrt
2018-05-21 Pfingstmontag
2018-10-03 Tag der Deutschen Einheit
2018-12-25 Erster Weihnachtstag
2018-12-26 Zweiter Weihnachtstag

In [87]:
# construct series object with column name 'holiday'
# contains the date for each holiday as index
holidays_series = pd.Series(1, index=berlin_holidays, name='Holiday')
holidays_series.head()

2018-01-01    1
2018-03-30    1
2018-04-02    1
2018-05-01    1
2018-05-10    1
Name: Holiday, dtype: int64

In [88]:
# append holiday column
daily_counts = daily_counts.join(holidays_series)

In [89]:
# fill the NaN values in place (directly changed, not copied)
daily_counts['Holiday'].fillna(0, inplace=True)
daily_counts.head()

,JannowitzbrÃ¼cke,InvalidenstraÃŸe,OberbaumbrÃ¼cke,Frankfurter Allee,Berliner StraÃŸe,Schwedter Steg,PrinzregentenstraÃŸe,KlosterstraÃŸe,Breitenbachplatz,YorckstraÃŸe,...,Paul-und-Paula-Uferweg,MarkstraÃŸe,Mon,Tue,Wed,Thu,Fri,Sat,Sun,Holiday
Inbetriebnahme,,,,,,,,,,,,,,,,,,,,,
2018-01-01,1076.0,653.0,1719.0,548.0,1608.0,459.0,275.0,362.0,611.0,909.0,...,845.0,194.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2018-01-02,3198.0,1487.0,3788.0,1505.0,3833.0,875.0,959.0,684.0,853.0,1957.0,...,1240.0,516.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-03,2723.0,1304.0,3237.0,1232.0,4004.0,840.0,512.0,522.0,680.0,1651.0,...,1087.0,443.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2018-01-04,4300.0,2031.0,5001.0,1822.0,5422.0,1284.0,856.0,813.0,1163.0,2595.0,...,1592.0,658.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2018-01-05,5430.0,2521.0,6404.0,2368.0,5007.0,1459.0,1061.0,942.0,1448.0,3180.0,...,2060.0,795.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [90]:
# assumption 3: hours of daylight affect number of bicycle rides
import numpy as np
from datetime import datetime

def hours_of_daylight(date, axis=23.44, latitude=52.52):
    """Compute hours of daylight in Berlin for the given date"""
    days = (date - datetime(2000, 12, 21)).days
    m = (1. - np.tan(np.radians(latitude))
    * np.tan(np.radians(axis) * np.cos(days * 2 * np.pi / 365.25)))
    return 24. * np.degrees(np.arccos(1 - np.clip(m, 0, 2))) / 180.

daily_counts['Daylight_hrs'] = list(map(hours_of_daylight, daily_counts.index))

daily_counts.head()

,JannowitzbrÃ¼cke,InvalidenstraÃŸe,OberbaumbrÃ¼cke,Frankfurter Allee,Berliner StraÃŸe,Schwedter Steg,PrinzregentenstraÃŸe,KlosterstraÃŸe,Breitenbachplatz,YorckstraÃŸe,...,MarkstraÃŸe,Mon,Tue,Wed,Thu,Fri,Sat,Sun,Holiday,Daylight_hrs
Inbetriebnahme,,,,,,,,,,,,,,,,,,,,,
2018-01-01,1076.0,653.0,1719.0,548.0,1608.0,459.0,275.0,362.0,611.0,909.0,...,194.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7.508264
2018-01-02,3198.0,1487.0,3788.0,1505.0,3833.0,875.0,959.0,684.0,853.0,1957.0,...,516.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.527375
2018-01-03,2723.0,1304.0,3237.0,1232.0,4004.0,840.0,512.0,522.0,680.0,1651.0,...,443.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,7.548099
2018-01-04,4300.0,2031.0,5001.0,1822.0,5422.0,1284.0,856.0,813.0,1163.0,2595.0,...,658.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7.570417
2018-01-05,5430.0,2521.0,6404.0,2368.0,5007.0,1459.0,1061.0,942.0,1448.0,3180.0,...,795.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7.594306

In [91]:
# assumption 4: bicycle trips are weather dependent
# source: https://meteostat.net/de/station/10382?t=2018-01-01/2018-12-31

weather = pd.read_csv(os.path.join(data_dir, 'Weather_Berlin2018.csv'), index_col='date', delimiter=',', parse_dates=True)
weather.head()

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
date
2018-01-01   8.3   4.1  12.2   3.5     0  220.3  22.3  60.5  1000.6    94
2018-02-01   4.4   2.6   5.8   2.0     0  241.8  12.2  38.9  1005.9     0
2018-03-01   5.2   2.5   7.4  12.9     0  195.9  27.7  69.8   990.1    39
2018-04-01   6.6   5.7   7.8   2.1     0  231.6  27.4  70.9   992.5     1
2018-05-01   6.5   3.2   8.7   0.0     0  235.6  21.2  68.4   995.7    21

In [92]:
# join bicycle and weather data
    # useful to add all the weather features??
bicycle = daily_counts.join(weather)
bicycle.head()

,JannowitzbrÃ¼cke,InvalidenstraÃŸe,OberbaumbrÃ¼cke,Frankfurter Allee,Berliner StraÃŸe,Schwedter Steg,PrinzregentenstraÃŸe,KlosterstraÃŸe,Breitenbachplatz,YorckstraÃŸe,...,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
Inbetriebnahme,,,,,,,,,,,,,,,,,,,,,
2018-01-01,1076.0,653.0,1719.0,548.0,1608.0,459.0,275.0,362.0,611.0,909.0,...,8.3,4.1,12.2,3.5,0,220.3,22.3,60.5,1000.6,94
2018-01-02,3198.0,1487.0,3788.0,1505.0,3833.0,875.0,959.0,684.0,853.0,1957.0,...,3.7,1.4,6.3,0.0,0,232.8,16.6,38.9,1000.0,321
2018-01-03,2723.0,1304.0,3237.0,1232.0,4004.0,840.0,512.0,522.0,680.0,1651.0,...,-8.5,-11.6,-4.9,0.0,0,79.6,16.9,38.2,1020.4,572
2018-01-04,4300.0,2031.0,5001.0,1822.0,5422.0,1284.0,856.0,813.0,1163.0,2595.0,...,1.3,0.7,2.2,3.3,0,286.2,20.5,44.3,1002.8,0
2018-01-05,5430.0,2521.0,6404.0,2368.0,5007.0,1459.0,1061.0,942.0,1448.0,3180.0,...,12.6,5.4,16.8,0.0,0,224.3,22.7,59.8,1009.8,633

In [93]:
# drop all still existing NaN values
print(bicycle.shape)
bicycle.dropna(axis=0, how='any', inplace=True)
print(bicycle.shape)

(365, 36)
(364, 36)

## Linear Regression Model

In [94]:
# exctract input features X and target columns y
# '*' -> unpack both iterables
input_column_names = [*days, 'Holiday', 'Daylight_hrs', *weather.columns]

from sklearn.model_selection import train_test_split



X = bicycle[input_column_names]
y = bicycle['JannowitzbrÃ¼cke']

In [95]:
# import, train and fit model
from sklearn.linear_model import LinearRegression

                        # data is expected to be centered
                        # day p. week work as a day-specific intercept
model = LinearRegression(fit_intercept=False)
model.fit(X, y)
model.score(X, y)

0.7768136190103553

##