# Bicycle data 2018 in Berlin

## Preparing data

In [1]:
from pathlib import Path
import os

data_dir = str(Path.home()) + r'\tubCloud2\Master\Git\Cycling_traffic_volume_Berlin'

In [2]:
import pandas as pd
# load data
counts2018 = pd.read_csv(os.path.join(data_dir, r'Bicycle_volume2018.csv'), delimiter=';', index_col=0, parse_dates=True)

In [3]:
# load more data
counts2019 = pd.read_csv(os.path.join(data_dir, r'Bicycle_volume2019.csv'), delimiter=';', index_col=0, parse_dates=True)

In [4]:
counts2018.head()

,02-MI-JAN-N 01.04.2015,02-MI-JAN-S 01.04.2015,03-MI-SAN-O 01.06.2015,03-MI-SAN-W 01.06.2015,05-FK-OBB-O 01.06.2015,05-FK-OBB-W 01.06.2015,06-FK-FRA-O 01.06.2016,06-FK-FRA-W 01.06.2016,10-PA-BER-N 01.05.2016,10-PA-BER-S 01.05.2016,...,18-TS-YOR-O 01.04.2015,18-TS-YOR-W 01.04.2015,19-TS-MON 01.05.2015,20-TS-MAR-N 01.05.2016,20-TS-MAR-S 01.05.2016,21-NK-MAY 01.05.2016,23-TK-KAI 01.05.2016,24-MH-ALB 01.07.2015,26-LI-PUP 01.06.2015,27-RE-MAR 01.05.2015
Inbetriebnahme,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,12,9,15,1,11,18,3.0,6,18,2.0,...,7,7,7.0,1,0,9,3,0,11,0
2018-01-01 01:00:00,17,16,7,7,26,22,8.0,2,24,10.0,...,5,9,21.0,2,1,40,6,0,12,5
2018-01-01 02:00:00,25,18,5,12,39,20,11.0,12,23,26.0,...,21,16,34.0,1,0,46,1,1,20,7
2018-01-01 03:00:00,18,19,8,13,51,22,7.0,6,21,17.0,...,18,17,33.0,2,1,43,4,2,11,2
2018-01-01 04:00:00,15,12,6,3,27,29,6.0,4,11,7.0,...,8,9,17.0,4,0,29,7,0,6,3

In [5]:
# concatenate 2018 and 2019 data
counts = pd.concat([counts2018, counts2019])
#counts.tail()

In [6]:
counts.shape
#counts.columns[3]

(17519, 26)

In [7]:
# sum up the overall counts (on hourly basis) to daily counts
daily_counts = counts.resample('d').sum()
daily_counts.head()

,02-MI-JAN-N 01.04.2015,02-MI-JAN-S 01.04.2015,03-MI-SAN-O 01.06.2015,03-MI-SAN-W 01.06.2015,05-FK-OBB-O 01.06.2015,05-FK-OBB-W 01.06.2015,06-FK-FRA-O 01.06.2016,06-FK-FRA-W 01.06.2016,10-PA-BER-N 01.05.2016,10-PA-BER-S 01.05.2016,...,18-TS-YOR-O 01.04.2015,18-TS-YOR-W 01.04.2015,19-TS-MON 01.05.2015,20-TS-MAR-N 01.05.2016,20-TS-MAR-S 01.05.2016,21-NK-MAY 01.05.2016,23-TK-KAI 01.05.2016,24-MH-ALB 01.07.2015,26-LI-PUP 01.06.2015,27-RE-MAR 01.05.2015
Inbetriebnahme,,,,,,,,,,,,,,,,,,,,,
2018-01-01,560.0,516.0,309.0,344.0,900.0,819.0,282.0,266.0,1059.0,549.0,...,480,429.0,710.0,129.0,84.0,949.0,180.0,131,845.0,194.0
2018-01-02,1572.0,1626.0,713.0,774.0,1964.0,1824.0,822.0,683.0,2632.0,1201.0,...,996,961.0,1490.0,373.0,217.0,2328.0,482.0,123,1240.0,516.0
2018-01-03,1357.0,1366.0,627.0,677.0,1689.0,1548.0,664.0,568.0,2819.0,1185.0,...,860,791.0,1203.0,289.0,197.0,1895.0,530.0,188,1087.0,443.0
2018-01-04,2153.0,2147.0,972.0,1059.0,2571.0,2430.0,1012.0,810.0,3694.0,1728.0,...,1357,1238.0,1965.0,400.0,285.0,3015.0,690.0,264,1592.0,658.0
2018-01-05,2655.0,2775.0,1221.0,1300.0,3233.0,3171.0,1283.0,1085.0,3021.0,1986.0,...,1632,1548.0,2247.0,449.0,290.0,3766.0,733.0,410,2060.0,795.0

In [8]:
daily_counts.shape

(730, 26)

In [9]:
# Station names
station_names = ['JannowitzbrÃ¼cke', 'InvalidenstraÃŸe', 'OberbaumbrÃ¼cke', 'Frankfurter Allee', 'Berliner StraÃŸe',
                 'Schwedter Steg', 'PrinzregentenstraÃŸe', 'KlosterstraÃŸe', 'Breitenbachplatz', 'YorckstraÃŸe',
                 'MonumentenstraÃŸe', 'Mariendorfer Damm', 'Maybachufer', 'Kaisersteg', 'AlberichstraÃŸe',
                 'Paul-und-Paula-Uferweg', 'MarkstraÃŸe']
            
#start_numbers = [str(n) for n in list(range(2,27))]
start_numbers = ['02', '03', '05', '06', '10', '12', '13', '15', '17', '18', '19', '20', '21', '23', '24', '26', '27']

#counts.loc[:, counts.columns.str.startswith("02")]

In [10]:
# Function that returns columns that start with the same prefix
def return_same_columns(cols):
    return [val for col in cols for val in start_numbers if col.startswith(val)]

In [11]:
# sum up the counts for each counting station
daily_counts = daily_counts.groupby(return_same_columns(daily_counts.columns), axis=1).sum()

In [12]:
# rename columns
daily_counts.columns = station_names

In [13]:
daily_counts.tail()

,JannowitzbrÃ¼cke,InvalidenstraÃŸe,OberbaumbrÃ¼cke,Frankfurter Allee,Berliner StraÃŸe,Schwedter Steg,PrinzregentenstraÃŸe,KlosterstraÃŸe,Breitenbachplatz,YorckstraÃŸe,MonumentenstraÃŸe,Mariendorfer Damm,Maybachufer,Kaisersteg,AlberichstraÃŸe,Paul-und-Paula-Uferweg,MarkstraÃŸe
Inbetriebnahme,,,,,,,,,,,,,,,,,
2019-12-27,2124.0,1183.0,0.0,1547.0,2155.0,568.0,533.0,803.0,609.0,1379.0,1108.0,519.0,1676.0,477.0,204.0,775.0,462.0
2019-12-28,2082.0,1019.0,0.0,1339.0,1581.0,519.0,434.0,634.0,411.0,1387.0,993.0,425.0,1657.0,348.0,149.0,633.0,382.0
2019-12-29,1668.0,1139.0,0.0,911.0,1355.0,607.0,292.0,402.0,468.0,959.0,871.0,269.0,1325.0,270.0,145.0,857.0,371.0
2019-12-30,3249.0,1501.0,0.0,1952.0,2418.0,716.0,602.0,870.0,616.0,1760.0,1456.0,606.0,2330.0,482.0,175.0,929.0,531.0
2019-12-31,1881.0,921.0,0.0,1230.0,1728.0,552.0,358.0,664.0,532.0,1201.0,943.0,330.0,1947.0,295.0,181.0,717.0,360.0

In [14]:
# one-hot-encoding for days of the week
# assumption 1: number of bicycle rides may depend on day of the week
# store values 1 or 0 in columns if the day of the week is equal to this day or not
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
for i in range(7):
    daily_counts[days[i]] = (daily_counts.index.dayofweek == i).astype(float)

#daily_counts.tail(10)

In [15]:
# use the Berlin holiday data
# assumption 2: bicycle trips might be different on holidays
from datetime import date
import holidays

berlin_holidays = holidays.CountryHoliday('DE', prov='BE')
# use holidays only for 2018 and 2019
date(2018, 1, 1) in berlin_holidays
date(2019, 1, 1) in berlin_holidays
print(berlin_holidays.years)

{2018, 2019}

In [16]:
# for date, name in sorted(holidays.DE(prov='BE', years=[2018,2019]).items()):
#      print(date, name)

In [17]:
# construct series object with column name 'holiday'
# contains the date for each holiday as index
holidays_series = pd.Series(1, index=berlin_holidays, name='Holiday')
holidays_series.tail()

2019-06-10    1
2019-10-03    1
2019-03-08    1
2019-12-25    1
2019-12-26    1
Name: Holiday, dtype: int64

In [18]:
# append holiday column
daily_counts = daily_counts.join(holidays_series)

In [19]:
# fill the NaN values in place (directly changed, not copied)
daily_counts['Holiday'].fillna(0, inplace=True)
daily_counts.tail(7)

,JannowitzbrÃ¼cke,InvalidenstraÃŸe,OberbaumbrÃ¼cke,Frankfurter Allee,Berliner StraÃŸe,Schwedter Steg,PrinzregentenstraÃŸe,KlosterstraÃŸe,Breitenbachplatz,YorckstraÃŸe,...,Paul-und-Paula-Uferweg,MarkstraÃŸe,Mon,Tue,Wed,Thu,Fri,Sat,Sun,Holiday
Inbetriebnahme,,,,,,,,,,,,,,,,,,,,,
2019-12-25,710.0,440.0,0.0,495.0,795.0,198.0,160.0,322.0,268.0,533.0,...,337.0,192.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2019-12-26,918.0,638.0,0.0,626.0,900.0,295.0,216.0,402.0,398.0,753.0,...,408.0,238.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2019-12-27,2124.0,1183.0,0.0,1547.0,2155.0,568.0,533.0,803.0,609.0,1379.0,...,775.0,462.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2019-12-28,2082.0,1019.0,0.0,1339.0,1581.0,519.0,434.0,634.0,411.0,1387.0,...,633.0,382.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2019-12-29,1668.0,1139.0,0.0,911.0,1355.0,607.0,292.0,402.0,468.0,959.0,...,857.0,371.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2019-12-30,3249.0,1501.0,0.0,1952.0,2418.0,716.0,602.0,870.0,616.0,1760.0,...,929.0,531.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-12-31,1881.0,921.0,0.0,1230.0,1728.0,552.0,358.0,664.0,532.0,1201.0,...,717.0,360.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
# assumption 3: hours of daylight affect number of bicycle rides
import numpy as np
from datetime import datetime

def hours_of_daylight(date, axis=23.44, latitude=52.52):
    """Compute hours of daylight in Berlin for the given date"""
    days = (date - datetime(2000, 12, 21)).days
    m = (1. - np.tan(np.radians(latitude))
    * np.tan(np.radians(axis) * np.cos(days * 2 * np.pi / 365.25)))
    return 24. * np.degrees(np.arccos(1 - np.clip(m, 0, 2))) / 180.

daily_counts['Daylight_hrs'] = list(map(hours_of_daylight, daily_counts.index))

daily_counts.head()

,JannowitzbrÃ¼cke,InvalidenstraÃŸe,OberbaumbrÃ¼cke,Frankfurter Allee,Berliner StraÃŸe,Schwedter Steg,PrinzregentenstraÃŸe,KlosterstraÃŸe,Breitenbachplatz,YorckstraÃŸe,...,MarkstraÃŸe,Mon,Tue,Wed,Thu,Fri,Sat,Sun,Holiday,Daylight_hrs
Inbetriebnahme,,,,,,,,,,,,,,,,,,,,,
2018-01-01,1076.0,653.0,1719.0,548.0,1608.0,459.0,275.0,362.0,611.0,909.0,...,194.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7.508264
2018-01-02,3198.0,1487.0,3788.0,1505.0,3833.0,875.0,959.0,684.0,853.0,1957.0,...,516.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.527375
2018-01-03,2723.0,1304.0,3237.0,1232.0,4004.0,840.0,512.0,522.0,680.0,1651.0,...,443.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,7.548099
2018-01-04,4300.0,2031.0,5001.0,1822.0,5422.0,1284.0,856.0,813.0,1163.0,2595.0,...,658.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7.570417
2018-01-05,5430.0,2521.0,6404.0,2368.0,5007.0,1459.0,1061.0,942.0,1448.0,3180.0,...,795.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7.594306

In [23]:
# assumption 4: bicycle trips are weather dependent
# source: https://meteostat.net/de/station/10382?t

weather2018 = pd.read_csv(os.path.join(data_dir, 'Weather_Berlin2018.csv'), index_col='date', delimiter=',', parse_dates=True)
weather2019 = pd.read_csv(os.path.join(data_dir, 'Weather_Berlin2019.csv'), index_col='date', delimiter=',', parse_dates=True)
weather = pd.concat([weather2018, weather2019])

In [24]:
# join bicycle and weather data
    # useful to add all the weather features??
bicycle = daily_counts.join(weather)
#bicycle.tail()

In [25]:
# drop all still existing NaN values
print(bicycle.shape)
bicycle.dropna(axis=0, how='any', inplace=True)
print(bicycle.shape)

(730, 36)
(728, 36)

## Linear Regression Model

In [26]:
# exctract input features X and target columns y
# '*' -> unpack both iterables
input_column_names = [*days, 'Holiday', 'Daylight_hrs', *weather.columns]

from sklearn.model_selection import train_test_split

X = bicycle[input_column_names]
y = bicycle['JannowitzbrÃ¼cke']

In [27]:
# import, train and fit model
from sklearn.linear_model import LinearRegression

                        # data is expected to be centered
                        # day p. week work as a day-specific intercept
model = LinearRegression(fit_intercept=False)
model.fit(X, y)
model.score(X, y)

0.8640429392048946

##